{% extends "base.html" %}

{% block content %}
    <h1>Restaurant kitchen Service Home</h1>
    <p>Welcome to Best Restaurant Ever!</p>
    <h2>Dynamic content</h2>
    <p>The Restaurant kitchen service has the following record counts:</p>
    <ul>
        <li><strong>Dishes:</strong> {{ num_dishes }}</li>
        <li><strong>Cooks:</strong> {{ num_cooks }}</li>
        <li><strong>DishTypes:</strong> {{ num_dish_types }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
