{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Service</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="header">
        <h1>Kitchen Service</h1>
        <div class="auth-buttons">
            <a href="{% url 'restaurant:login' %}" class="login-btn">Login</a>
            <a href="{% url 'restaurant:register' %}" class="register-btn">Register</a> <!-- Кнопка регистрации -->
        </div>
    </header>
    <div class="container">
        <nav class="sidebar">
            <h2>Navigation</h2>
            <ul>
                <!-- Добавьте сюда элементы навигации -->
            </ul>
        </nav>
        <main class="main-content">
            {% block content %}
            <h2>Welcome to Kitchen Service</h2>
            <p>This is a basic HTML template with a sidebar navigation, header, and main content area.</p>
            {% endblock %}
        </main>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Kitchen Service. All rights reserved.</p>
    </footer>
</body>

</html>
